workflow/workflow-SEGURIDAD-PRIVADA.json
{
  "name": "Blog SEGURIDAD PRIVADA v1.0 - SEO Marketing de Contenidos",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 3,
              "triggerAtHour": 10
            }
          ]
        }
      },
      "id": "scheduler",
      "name": "Trigger Programado",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-60, 400]
    },
    {
      "parameters": {},
      "id": "manual",
      "name": "Trigger Manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-60, 200]
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// SELECTOR INTELIGENTE SEGURIDAD PRIVADA v1.0\n// Sistema de rotacion sin repeticion\n// ============================================\n\nconst CONFIG = {\n  baseUrl: 'https://seguridad-privada.com.mx',\n  github: {\n    owner: 'Origenlab',\n    repo: 'seguridad-privada',\n    branch: 'main'\n  },\n  empresa: {\n    nombre: 'ORIGINS PRIVATE SECURITY',\n    nombreCorto: 'Seguridad Privada',\n    telefono: '55 3025 5580',\n    whatsapp: '525530255580',\n    email: 'contacto@seguridad-privada.com.mx',\n    horario: 'Lun - Dom: 24 hrs'\n  },\n  categories: {\n    'guias': 'Guias Especializadas',\n    'tendencias': 'Tendencias',\n    'consejos': 'Consejos Profesionales',\n    'corporativo': 'Seguridad Corporativa',\n    'residencial': 'Seguridad Residencial'\n  },\n  zonas: [\n    'Polanco', 'Lomas de Chapultepec', 'Bosques de las Lomas', 'Santa Fe',\n    'Pedregal', 'Coyoacan', 'Del Valle', 'Roma', 'Condesa', 'Anzures',\n    'Interlomas', 'Bosque Real', 'Huixquilucan', 'Naucalpan', 'Satelite'\n  ],\n  topics: [\n    {\n      id: 'guardias-condominios',\n      name: 'Guardias para Condominios',\n      category: 'residencial',\n      categoryName: 'Seguridad Residencial',\n      focus: 'seguridad integral para condominios de lujo',\n      audience: 'Administradores de condominios y residentes de zonas premium',\n      keywords: ['guardias para condominios CDMX', 'seguridad residencial', 'vigilancia condominios Polanco', 'guardias certificados SSC'],\n      url: '/seguridad-condominios.html',\n      relatedServices: [\n        {name: 'Guardias de Seguridad', url: '/guardias-de-seguridad-y-vigilancia.html'},\n        {name: 'Control de Accesos', url: '/control-de-accesos.html'},\n        {name: 'Vigilancia CCTV', url: '/vigilancia-remota-cctv.html'}\n      ]\n    },\n    {\n      id: 'seguridad-corporativa',\n      name: 'Seguridad Corporativa',\n      category: 'corporativo',\n      categoryName: 'Seguridad Corporativa',\n      focus: 'proteccion integral para empresas y corporativos',\n      audience: 'Directores de seguridad, facility managers y empresarios',\n      keywords: ['seguridad corporativa CDMX', 'guardias para empresas', 'seguridad oficinas Santa Fe', 'vigilancia corporativa'],\n      url: '/guardias-de-seguridad-y-vigilancia.html',\n      relatedServices: [\n        {name: 'Control de Accesos', url: '/control-de-accesos.html'},\n        {name: 'Monitoreo de Alarmas', url: '/monitoreo-alarmas.html'},\n        {name: 'Consultoria en Seguridad', url: '/consultoria-seguridad.html'}\n      ]\n    },\n    {\n      id: 'cctv-monitoreo',\n      name: 'CCTV y Monitoreo Remoto',\n      category: 'tendencias',\n      categoryName: 'Tendencias',\n      focus: 'tecnologia de videovigilancia y monitoreo profesional',\n      audience: 'Empresas y condominios que buscan tecnologia de seguridad',\n      keywords: ['CCTV empresarial CDMX', 'monitoreo remoto 24/7', 'videovigilancia profesional', 'camaras de seguridad'],\n      url: '/vigilancia-remota-cctv.html',\n      relatedServices: [\n        {name: 'Monitoreo de Alarmas', url: '/monitoreo-alarmas.html'},\n        {name: 'Guardias de Seguridad', url: '/guardias-de-seguridad-y-vigilancia.html'},\n        {name: 'Control de Accesos', url: '/control-de-accesos.html'}\n      ]\n    },\n    {\n      id: 'control-accesos',\n      name: 'Control de Accesos',\n      category: 'guias',\n      categoryName: 'Guias Especializadas',\n      focus: 'sistemas de control de acceso vehicular y peatonal',\n      audience: 'Administradores de edificios y condominios',\n      keywords: ['control de accesos biometrico', 'sistemas de acceso CDMX', 'control vehicular condominios', 'torniquetes de seguridad'],\n      url: '/control-de-accesos.html',\n      relatedServices: [\n        {name: 'Guardias Intramuros', url: '/guardias-intramuros.html'},\n        {name: 'Vigilancia CCTV', url: '/vigilancia-remota-cctv.html'},\n        {name: 'Seguridad Condominios', url: '/seguridad-condominios.html'}\n      ]\n    },\n    {\n      id: 'proteccion-ejecutiva',\n      name: 'Proteccion Ejecutiva',\n      category: 'guias',\n      categoryName: 'Guias Especializadas',\n      focus: 'escoltas y proteccion para ejecutivos de alto perfil',\n      audience: 'Empresarios, directivos y personas de alto perfil',\n      keywords: ['proteccion ejecutiva CDMX', 'escoltas profesionales', 'guardaespaldas certificados', 'seguridad para empresarios'],\n      url: '/proteccion-ejecutiva.html',\n      relatedServices: [\n        {name: 'Custodia de Mercancias', url: '/custodia-de-mercancias.html'},\n        {name: 'Analisis de Riesgos', url: '/consultoria-analisis-riesgos.html'},\n        {name: 'Rastreo GPS', url: '/seguridad-gps-satelital.html'}\n      ]\n    },\n    {\n      id: 'seguridad-construccion',\n      name: 'Seguridad para Construccion',\n      category: 'guias',\n      categoryName: 'Guias Especializadas',\n      focus: 'proteccion de obras y desarrollos inmobiliarios',\n      audience: 'Constructoras, desarrolladores inmobiliarios',\n      keywords: ['seguridad para obras CDMX', 'vigilancia construccion', 'guardias para desarrollos', 'proteccion de materiales'],\n      url: '/seguridad-construccion.html',\n      relatedServices: [\n        {name: 'Guardias de Seguridad', url: '/guardias-de-seguridad-y-vigilancia.html'},\n        {name: 'Patrullaje', url: '/patrullaje.html'},\n        {name: 'Vigilancia CCTV', url: '/vigilancia-remota-cctv.html'}\n      ]\n    },\n    {\n      id: 'seguridad-eventos',\n      name: 'Seguridad para Eventos',\n      category: 'guias',\n      categoryName: 'Guias Especializadas',\n      focus: 'proteccion para eventos corporativos y sociales',\n      audience: 'Organizadores de eventos, empresas, wedding planners',\n      keywords: ['seguridad para eventos CDMX', 'guardias para fiestas', 'seguridad corporativa eventos', 'control de accesos eventos'],\n      url: '/seguridad-eventos.html',\n      relatedServices: [\n        {name: 'Control de Accesos', url: '/control-de-accesos.html'},\n        {name: 'Proteccion Ejecutiva', url: '/proteccion-ejecutiva.html'},\n        {name: 'Guardias de Seguridad', url: '/guardias-de-seguridad-y-vigilancia.html'}\n      ]\n    },\n    {\n      id: 'monitoreo-alarmas',\n      name: 'Monitoreo de Alarmas',\n      category: 'tendencias',\n      categoryName: 'Tendencias',\n      focus: 'central de monitoreo y respuesta a emergencias',\n      audience: 'Empresas y hogares que buscan proteccion 24/7',\n      keywords: ['monitoreo de alarmas CDMX', 'central de monitoreo 24/7', 'respuesta a emergencias', 'alarmas empresariales'],\n      url: '/monitoreo-alarmas.html',\n      relatedServices: [\n        {name: 'Vigilancia CCTV', url: '/vigilancia-remota-cctv.html'},\n        {name: 'Patrullaje', url: '/patrullaje.html'},\n        {name: 'Guardias de Seguridad', url: '/guardias-de-seguridad-y-vigilancia.html'}\n      ]\n    },\n    {\n      id: 'prevencion-perdidas',\n      name: 'Prevencion de Perdidas',\n      category: 'corporativo',\n      categoryName: 'Seguridad Corporativa',\n      focus: 'control de mermas y robo en retail y comercio',\n      audience: 'Gerentes de tiendas, retail, supermercados',\n      keywords: ['prevencion de perdidas retail', 'seguridad para tiendas CDMX', 'control de mermas', 'guardias para comercios'],\n      url: '/prevencion-de-perdidas.html',\n      relatedServices: [\n        {name: 'Guardias de Seguridad', url: '/guardias-de-seguridad-y-vigilancia.html'},\n        {name: 'Vigilancia CCTV', url: '/vigilancia-remota-cctv.html'},\n        {name: 'Control de Accesos', url: '/control-de-accesos.html'}\n      ]\n    },\n    {\n      id: 'consultoria-seguridad',\n      name: 'Consultoria en Seguridad',\n      category: 'consejos',\n      categoryName: 'Consejos Profesionales',\n      focus: 'analisis de riesgos y diseno de estrategias de seguridad',\n      audience: 'Directores de seguridad, facility managers',\n      keywords: ['consultoria seguridad CDMX', 'analisis de riesgos empresarial', 'auditoria de seguridad', 'plan de seguridad'],\n      url: '/consultoria-seguridad.html',\n      relatedServices: [\n        {name: 'Analisis de Riesgos', url: '/consultoria-analisis-riesgos.html'},\n        {name: 'Investigaciones de Confiabilidad', url: '/investigaciones-confiabilidad.html'},\n        {name: 'Guardias de Seguridad', url: '/guardias-de-seguridad-y-vigilancia.html'}\n      ]\n    }\n  ],\n  articleTypes: [\n    { id: 'guia-completa', name: 'Guia Completa', tone: 'educativo y detallado' },\n    { id: 'tendencias', name: 'Tendencias', tone: 'vanguardista y actual' },\n    { id: 'consejos', name: 'Consejos Profesionales', tone: 'experto y practico' },\n    { id: 'comparativa', name: 'Comparativa', tone: 'analitico y objetivo' },\n    { id: 'casos-uso', name: 'Casos de Uso', tone: 'practico y aplicado' }\n  ],\n  images: {\n    'guias': [\n      'img/img-condominios/guardias-intramuros-elite-condominios.avif',\n      'img/img-index/consultoria-de-seguridad.avif',\n      'img/img-index/guardia-corporativo.avif'\n    ],\n    'tendencias': [\n      'img/img-index/tecnologia-monitoreo.avif',\n      'img/img-index/monitoreo-camaras.avif',\n      'img/img-index/seguridad-satelital-gps.avif'\n    ],\n    'consejos': [\n      'img/img-index/consultoria-de-seguridad.avif',\n      'img/img-index/guardia-lobby.avif'\n    ],\n    'corporativo': [\n      'img/img-index/guardia-corporativo.avif',\n      'img/img-construccion/guardias-seguridad-certificados-construccion.avif'\n    ],\n    'residencial': [\n      'img/img-condominios/guardias-intramuros-elite-condominios.avif',\n      'img/img-condominios/control-accesos-biometrico-residencial-lujo.avif',\n      'img/img-condominios/vigilancia-cctv-inteligente-condominios.avif'\n    ]\n  }\n};\n\n// Estado persistente para evitar repeticiones\nconst state = $getWorkflowStaticData('global');\nif (!state.usedTopics) state.usedTopics = [];\nif (!state.usedImages) state.usedImages = [];\nif (!state.usedTypes) state.usedTypes = [];\nif (!state.articleCount) state.articleCount = 0;\n\n// Seleccionar topic sin repetir\nlet availableTopics = CONFIG.topics.filter(t => !state.usedTopics.includes(t.id));\nif (availableTopics.length === 0) {\n  state.usedTopics = [];\n  availableTopics = CONFIG.topics;\n}\nconst topic = availableTopics[Math.floor(Math.random() * availableTopics.length)];\nstate.usedTopics.push(topic.id);\n\n// Seleccionar tipo de articulo sin repetir\nlet availableTypes = CONFIG.articleTypes.filter(t => !state.usedTypes.includes(t.id));\nif (availableTypes.length === 0) {\n  state.usedTypes = [];\n  availableTypes = CONFIG.articleTypes;\n}\nconst articleType = availableTypes[Math.floor(Math.random() * availableTypes.length)];\nstate.usedTypes.push(articleType.id);\n\n// Seleccionar imagen sin repetir\nlet categoryImages = CONFIG.images[topic.category] || CONFIG.images['guias'];\nlet availableImages = categoryImages.filter(i => !state.usedImages.includes(i));\nif (availableImages.length === 0) {\n  state.usedImages = state.usedImages.filter(i => !categoryImages.includes(i));\n  availableImages = categoryImages;\n}\nconst heroImage = availableImages[Math.floor(Math.random() * availableImages.length)];\nstate.usedImages.push(heroImage);\n\n// Seleccionar zonas aleatorias\nconst zonas = [...CONFIG.zonas].sort(() => Math.random() - 0.5).slice(0, 5);\n\n// Incrementar contador\nstate.articleCount++;\n\n// Generar ID unico\nconst articleId = Date.now();\n\nreturn [{\n  json: {\n    CONFIG,\n    topic,\n    articleType,\n    heroImage,\n    zonas,\n    articleId,\n    articleNumber: state.articleCount\n  }\n}];"
      },
      "id": "selector",
      "name": "Selector Inteligente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [180, 300]
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// CONSTRUCTOR PROMPT SEGURIDAD PRIVADA v1.0\n// Prompt SEO Optimizado con Marketing de Contenidos\n// ============================================\n\nconst data = $input.first().json;\nconst t = data.topic;\nconst at = data.articleType;\nconst zonas = data.zonas;\nconst rs = t.relatedServices;\n\nconst prompt = `Eres un EXPERTO EN MARKETING DE CONTENIDOS y ESPECIALISTA SEO con 15 anos de experiencia en el sector de seguridad privada en Mexico (CDMX).\n\nTu mision es crear un articulo que POSICIONE en Google, ATRAIGA trafico organico y CONVIERTA visitantes en clientes potenciales.\n\n笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊申nCONTEXTO DE LA EMPRESA\n笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊申n\n**ORIGINS PRIVATE SECURITY - Seguridad Privada Integral**\n- Telefono: 55 3025 5580\n- WhatsApp: wa.me/525530255580\n- Email: contacto@seguridad-privada.com.mx\n- Cobertura: CDMX y Estado de Mexico (area metropolitana)\n- Experiencia: +15 anos, +500 clientes, 100% certificados SSC\n\n**Servicios principales:**\n- Guardias de Seguridad y Vigilancia (certificados SSC)\n- Seguridad para Condominios de Lujo\n- Vigilancia Remota CCTV y Monitoreo 24/7\n- Control de Accesos (biometrico, vehicular, peatonal)\n- Proteccion Ejecutiva (escoltas profesionales)\n- Seguridad para Obras en Construccion\n- Seguridad para Eventos\n- Consultoria y Analisis de Riesgos\n\n**Propuesta de valor diferenciadora:**\n- Personal 100% certificado SSC con verificacion de antecedentes\n- Capacitacion continua y evaluaciones psicometricas\n- Supervision operativa 24/7 con GPS y reportes en tiempo real\n- Protocolos de emergencia documentados y ensayados\n- Tecnologia integrada (CCTV, control de accesos, alarmas)\n- Respuesta inmediata ante incidentes\n- Asesoria personalizada sin costo\n\n笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊申nCONTEXTO DEL ARTICULO\n笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊申n\n**Tema central:** ${t.name}\n**Categoria:** ${t.categoryName}\n**Enfoque editorial:** ${t.focus}\n**Tipo de contenido:** ${at.name} - ${at.tone}\n**Audiencia objetivo:** ${t.audience}\n\n**Keywords principales:**\n${t.keywords.map((k, i) => (i + 1) + '. \"' + k + '\"').join('\\n')}\n\n**Zonas de CDMX a mencionar:** ${zonas.join(', ')}\n\n**Servicios relacionados para enlaces internos:**\n1. ${rs[0].name} - ${rs[0].url}\n2. ${rs[1].name} - ${rs[1].url}\n3. ${rs[2].name} - ${rs[2].url}\n\n笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊申nREQUISITOS DE CONTENIDO\n笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊申n\n### SEO On-Page\n- Titulo: keyword al INICIO, maximo 60 caracteres\n- Meta description: 150-160 caracteres con keyword y CTA\n- Densidad de keyword: 1-1.5%\n- Incluir minimo 15 keywords LSI\n\n### Contenido\n- Extension: 1800-2500 palabras\n- 100% original, sin frases genericas de IA\n- Tono profesional pero accesible\n- Parrafos de 3-5 oraciones\n\n### PROHIBICIONES\n- NO mencionar precios\n- NO frases de IA: \"en el mundo actual\", \"es importante destacar\", \"cabe mencionar\"\n- NO emojis\n- NO mencionar competidores\n\n笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊申nESTRUCTURA HTML EXACTA\n笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊申n\n<div class=\"blog-article-toc-inline\">\n    <h4>En Este Articulo</h4>\n    <ul>\n        <li><a href=\"#que-es\">[Titulo seccion 1]</a></li>\n        <li><a href=\"#beneficios\">[Titulo seccion 2]</a></li>\n        <li><a href=\"#como-implementar\">[Titulo seccion 3]</a></li>\n        <li><a href=\"#aplicaciones\">[Titulo seccion 4]</a></li>\n        <li><a href=\"#faq\">Preguntas Frecuentes</a></li>\n    </ul>\n</div>\n\n<p class=\"lead\">\n[Parrafo de 3-4 lineas con keyword principal que resume el articulo y engancha al lector]\n</p>\n\n<h2 id=\"que-es\">[Que es ${t.name} - con variacion de keyword]</h2>\n<p>[Explicacion clara del tema - 2-3 parrafos]</p>\n\n<div class=\"interest-module stat-module\">\n    <div class=\"stat-number\">[Numero/Porcentaje]</div>\n    <div class=\"stat-content\">\n        <h4>[Titulo del dato]</h4>\n        <p>[Explicacion del dato relevante sobre seguridad en Mexico]</p>\n    </div>\n</div>\n\n<h2 id=\"beneficios\">Beneficios de ${t.name} Profesional</h2>\n<p>[Introduccion]</p>\n<ul>\n    <li><strong>[Beneficio 1]:</strong> [Explicacion]</li>\n    <li><strong>[Beneficio 2]:</strong> [Explicacion]</li>\n    <li><strong>[Beneficio 3]:</strong> [Explicacion]</li>\n    <li><strong>[Beneficio 4]:</strong> [Explicacion]</li>\n    <li><strong>[Beneficio 5]:</strong> [Explicacion]</li>\n</ul>\n\n<div class=\"interest-module tip-module\">\n    <div class=\"tip-icon\">i</div>\n    <div class=\"tip-content\">\n        <h4>Consejo Profesional</h4>\n        <p>[Consejo basado en experiencia de +15 anos]</p>\n    </div>\n</div>\n\n<h2 id=\"como-implementar\">Como Implementar ${t.name} en tu Empresa/Condominio</h2>\n<p>[Introduccion al proceso]</p>\n\n<div class=\"process-section\">\n    <h3>Metodologia Profesional</h3>\n    <div class=\"process-steps\">\n        <div class=\"process-step\">\n            <div class=\"step-number\">1</div>\n            <div class=\"step-content\">\n                <h4>[Paso 1]</h4>\n                <p>[Descripcion]</p>\n            </div>\n        </div>\n        <div class=\"process-step\">\n            <div class=\"step-number\">2</div>\n            <div class=\"step-content\">\n                <h4>[Paso 2]</h4>\n                <p>[Descripcion]</p>\n            </div>\n        </div>\n        <div class=\"process-step\">\n            <div class=\"step-number\">3</div>\n            <div class=\"step-content\">\n                <h4>[Paso 3]</h4>\n                <p>[Descripcion]</p>\n            </div>\n        </div>\n        <div class=\"process-step\">\n            <div class=\"step-number\">4</div>\n            <div class=\"step-content\">\n                <h4>[Paso 4]</h4>\n                <p>[Descripcion]</p>\n            </div>\n        </div>\n    </div>\n</div>\n\n<div class=\"interest-module danger-module\">\n    <div class=\"danger-icon\">!</div>\n    <div class=\"danger-content\">\n        <h4>Error Critico a Evitar</h4>\n        <p>[Advertencia importante basada en experiencia]</p>\n    </div>\n</div>\n\n<h2 id=\"aplicaciones\">${t.name} para Diferentes Sectores</h2>\n<p>[Introduccion a aplicaciones]</p>\n\n<h3>[Aplicacion en Sector 1 - mencionar zona como ${zonas[0]}]</h3>\n<p>[Explicacion especifica]</p>\n\n<h3>[Aplicacion en Sector 2 - mencionar zona como ${zonas[1]}]</h3>\n<p>[Explicacion especifica]</p>\n\n<h3>[Aplicacion en Sector 3]</h3>\n<p>[Explicacion especifica]</p>\n\n<div class=\"cta-inline\">\n    <h3>Solicita tu Evaluacion de Seguridad Gratuita</h3>\n    <p>Nuestros especialistas identifican vulnerabilidades y te entregan un plan personalizado. Sin compromiso.</p>\n    <a href=\"https://wa.me/525530255580?text=Hola,%20lei%20el%20articulo%20sobre%20${encodeURIComponent(t.name)}%20y%20me%20interesa%20una%20evaluacion\" class=\"btn\" target=\"_blank\" rel=\"noopener\">Contactar por WhatsApp</a>\n</div>\n\n<h2>Conclusion</h2>\n<p>[Resumen de puntos clave - 2 parrafos]</p>\n<p>Con mas de 15 anos de experiencia y 500+ clientes protegidos, ORIGINS Private Security ofrece soluciones de ${t.name.toLowerCase()} adaptadas a tus necesidades especificas.</p>\n<p>Si estas en ${zonas[0]}, ${zonas[1]} o cualquier zona de CDMX y Estado de Mexico, contactanos al <strong>55 3025 5580</strong> o escribenos por WhatsApp para una asesoria personalizada sin compromiso.</p>\n\n<section class=\"faq-section\" id=\"faq\">\n    <h2>Preguntas Frecuentes sobre ${t.name}</h2>\n    <div class=\"faq-item\">\n        <button class=\"faq-question\" aria-expanded=\"false\">\n            <span>[Pregunta 1 con keyword]</span>\n            <span class=\"faq-chevron\">笆ｼ</span>\n        </button>\n        <div class=\"faq-answer\"><p>[Respuesta completa 3-5 lineas]</p></div>\n    </div>\n    <div class=\"faq-item\">\n        <button class=\"faq-question\" aria-expanded=\"false\">\n            <span>[Pregunta 2]</span>\n            <span class=\"faq-chevron\">笆ｼ</span>\n        </button>\n        <div class=\"faq-answer\"><p>[Respuesta completa]</p></div>\n    </div>\n    <div class=\"faq-item\">\n        <button class=\"faq-question\" aria-expanded=\"false\">\n            <span>[Pregunta 3]</span>\n            <span class=\"faq-chevron\">笆ｼ</span>\n        </button>\n        <div class=\"faq-answer\"><p>[Respuesta completa]</p></div>\n    </div>\n    <div class=\"faq-item\">\n        <button class=\"faq-question\" aria-expanded=\"false\">\n            <span>[Pregunta 4 - sobre cobertura en ${zonas[0]} y area metropolitana]</span>\n            <span class=\"faq-chevron\">笆ｼ</span>\n        </button>\n        <div class=\"faq-answer\"><p>[Respuesta confirmando cobertura CDMX y EdoMex]</p></div>\n    </div>\n    <div class=\"faq-item\">\n        <button class=\"faq-question\" aria-expanded=\"false\">\n            <span>[Pregunta 5 - sobre certificaciones SSC]</span>\n            <span class=\"faq-chevron\">笆ｼ</span>\n        </button>\n        <div class=\"faq-answer\"><p>[Respuesta sobre certificacion SSC obligatoria]</p></div>\n    </div>\n</section>\n\n<div class=\"related-articles\">\n    <h3>Articulos Relacionados</h3>\n    <div class=\"related-articles-grid\">\n        <a href=\"seguridad-condominios-lujo-cdmx.html\" class=\"related-article-card\">\n            <h4>Seguridad para Condominios de Lujo</h4>\n            <p>Guia completa de proteccion para residenciales premium</p>\n        </a>\n        <a href=\"tendencias-tecnologia-seguridad-2025.html\" class=\"related-article-card\">\n            <h4>Tendencias Tecnologia Seguridad 2025</h4>\n            <p>Innovaciones en sistemas de proteccion</p>\n        </a>\n        <a href=\"errores-comunes-contratar-seguridad-privada-como-evitarlos.html\" class=\"related-article-card\">\n            <h4>Errores al Contratar Seguridad</h4>\n            <p>Como evitar los 7 errores mas comunes</p>\n        </a>\n    </div>\n</div>\n\n笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊申nFORMATO DE RESPUESTA JSON\n笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊申n\nResponde UNICAMENTE con este JSON:\n\n{\n    \"titulo\": \"[Titulo SEO max 60 chars - keyword al inicio]\",\n    \"slug\": \"[url-amigable-sin-acentos]\",\n    \"metaDescription\": \"[150-160 chars con keyword y CTA]\",\n    \"metaKeywords\": \"[keywords separadas por coma]\",\n    \"breadcrumbText\": \"[15-25 caracteres]\",\n    \"categoria\": \"${t.categoryName}\",\n    \"categoriaSlug\": \"${t.category}\",\n    \"tiempoLectura\": \"[X] min lectura\",\n    \"contenidoHTML\": \"[HTML COMPLETO - minimo 1800 palabras]\",\n    \"faqSchema\": [\n        {\"pregunta\": \"[Pregunta 1]\", \"respuesta\": \"[Respuesta 1]\"},\n        {\"pregunta\": \"[Pregunta 2]\", \"respuesta\": \"[Respuesta 2]\"},\n        {\"pregunta\": \"[Pregunta 3]\", \"respuesta\": \"[Respuesta 3]\"},\n        {\"pregunta\": \"[Pregunta 4]\", \"respuesta\": \"[Respuesta 4]\"},\n        {\"pregunta\": \"[Pregunta 5]\", \"respuesta\": \"[Respuesta 5]\"}\n    ],\n    \"tags\": [\"tag1\", \"tag2\", \"tag3\", \"tag4\", \"tag5\"]\n}\n\nGENERA EL ARTICULO AHORA.`;\n\nreturn [{ json: { ...data, prompt } }];"
      },
      "id": "prompt",
      "name": "Constructor Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst body = {\n  model: 'gpt-4o',\n  messages: [\n    {\n      role: 'system',\n      content: 'Eres un EXPERTO EN MARKETING DE CONTENIDOS y ESPECIALISTA SEO con 15 anos de experiencia en seguridad privada en Mexico. Escribes para ORIGINS PRIVATE SECURITY. REGLAS: 1) Contenido 100% ORIGINAL. 2) PROHIBIDO mencionar precios. 3) Tono profesional pero cercano. 4) Menciona zonas de CDMX. 5) Sigue estructura HTML EXACTA. 6) SOLO responde con JSON valido. 7) Minimo 1800 palabras. 8) NUNCA uses frases de IA genericas.'\n    },\n    { role: 'user', content: d.prompt }\n  ],\n  temperature: 0.85,\n  max_tokens: 16000,\n  response_format: { type: 'json_object' }\n};\nreturn [{ json: { ...d, chatGPTBody: JSON.stringify(body) } }];"
      },
      "id": "preparar-chatgpt",
      "name": "Preparar Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [620, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "Bearer {{OPENAI_API_KEY}}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.chatGPTBody }}",
        "options": { "timeout": 180000 }
      },
      "id": "chatgpt",
      "name": "ChatGPT API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [840, 300],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst data = $('Constructor Prompt').first().json;\nconst t = data.topic;\nconst heroImage = data.heroImage;\nconst articleId = data.articleId;\n\n// Parsear respuesta de ChatGPT\nlet content;\ntry {\n  let raw = response.choices[0].message.content\n    .replace(/```json\\n?/gi, '')\n    .replace(/```\\n?/gi, '')\n    .trim();\n  content = JSON.parse(raw);\n} catch(e) {\n  throw new Error('Error parseando JSON: ' + e.message);\n}\n\n// Validar campos requeridos\nif (!content.titulo || content.titulo.length < 20) {\n  throw new Error('Titulo invalido: ' + (content.titulo || 'VACIO'));\n}\nif (!content.contenidoHTML || content.contenidoHTML.length < 500) {\n  throw new Error('Contenido HTML invalido o muy corto');\n}\n\n// Aplicar valores por defecto\ncontent.metaDescription = content.metaDescription || `Descubre ${t.name} con ORIGINS Private Security en CDMX. Guia profesional con consejos de expertos.`;\ncontent.metaKeywords = content.metaKeywords || t.keywords.join(', ');\ncontent.breadcrumbText = content.breadcrumbText || content.titulo.substring(0, 25);\ncontent.tiempoLectura = content.tiempoLectura || '10 min lectura';\ncontent.faqSchema = content.faqSchema || [];\ncontent.tags = content.tags || t.keywords.slice(0, 5);\ncontent.categoria = content.categoria || t.categoryName;\ncontent.categoriaSlug = content.categoriaSlug || t.category;\n\n// Generar slug SEO\nfunction generateSlug(text) {\n  if (!text || typeof text !== 'string') return null;\n  return text\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/[^a-z0-9\\s-]/g, '')\n    .replace(/\\s+/g, '-')\n    .replace(/-+/g, '-')\n    .replace(/^-+|-+$/g, '')\n    .substring(0, 55);\n}\n\nlet slug = content.slug ? generateSlug(content.slug) : generateSlug(content.titulo);\nslug = slug.substring(0, 60);\n\nconsole.log('TITULO:', content.titulo);\nconsole.log('SLUG SEO:', slug);\n\n// Construir FAQ Schema\nconst faqSchemaJSON = JSON.stringify({\n  '@context': 'https://schema.org',\n  '@type': 'FAQPage',\n  'mainEntity': content.faqSchema.map(f => ({\n    '@type': 'Question',\n    'name': f.pregunta,\n    'acceptedAnswer': {\n      '@type': 'Answer',\n      'text': f.respuesta\n    }\n  }))\n});\n\n// Generar Tags HTML\nconst tagsHTML = content.tags.map(tag => `<a href=\"#\" class=\"tag\">${tag}</a>`).join('\\n            ');\n\n// Generar Fecha ISO\nconst fechaISO = new Date().toISOString().split('T')[0];\n\nreturn [{\n  json: {\n    ...data,\n    content,\n    slug,\n    articleId,\n    heroImage,\n    faqSchemaJSON,\n    tagsHTML,\n    fechaISO\n  }\n}];"
      },
      "id": "validar",
      "name": "Validar Respuesta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1060, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/Origenlab/seguridad-privada/contents/workflow/TEMPLATE-ARTICULO-SEGURIDAD-PRIVADA.html",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "token {{GITHUB_TOKEN}}" },
            { "name": "Accept", "value": "application/vnd.github.v3+json" }
          ]
        }
      },
      "id": "github-get-template",
      "name": "GitHub: Obtener Template",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1280, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $('Validar Respuesta').first().json;\nconst templateResp = $input.first().json;\nconst c = data.content;\nconst slug = data.slug;\nconst heroImage = data.heroImage;\nconst faqSchemaJSON = data.faqSchemaJSON;\nconst tagsHTML = data.tagsHTML;\nconst fechaISO = data.fechaISO;\n\n// Decodificar template\nlet template;\ntry {\n  template = Buffer.from(templateResp.content, 'base64').toString('utf8');\n} catch(e) {\n  throw new Error('Error decodificando template: ' + e.message);\n}\n\n// Reemplazar todas las variables\nlet html = template\n  .replace(/\\{\\{TITULO\\}\\}/g, c.titulo)\n  .replace(/\\{\\{SLUG\\}\\}/g, slug)\n  .replace(/\\{\\{META_DESCRIPTION\\}\\}/g, c.metaDescription)\n  .replace(/\\{\\{META_KEYWORDS\\}\\}/g, c.metaKeywords)\n  .replace(/\\{\\{CATEGORIA\\}\\}/g, c.categoria)\n  .replace(/\\{\\{CATEGORIA_SLUG\\}\\}/g, c.categoriaSlug)\n  .replace(/\\{\\{IMAGEN_PRINCIPAL\\}\\}/g, heroImage.replace('img/', ''))\n  .replace(/\\{\\{IMAGEN_ALT\\}\\}/g, c.titulo + ' - ORIGINS Private Security')\n  .replace(/\\{\\{BREADCRUMB_TEXT\\}\\}/g, c.breadcrumbText)\n  .replace(/\\{\\{TIEMPO_LECTURA\\}\\}/g, c.tiempoLectura)\n  .replace(/\\{\\{CONTENIDO\\}\\}/g, c.contenidoHTML)\n  .replace(/\\{\\{FAQ_SCHEMA\\}\\}/g, faqSchemaJSON)\n  .replace(/\\{\\{TAGS_HTML\\}\\}/g, tagsHTML)\n  .replace(/\\{\\{FECHA_ISO\\}\\}/g, fechaISO);\n\n// Convertir a Base64\nconst htmlBase64 = Buffer.from(html).toString('base64');\n\nreturn [{\n  json: {\n    ...data,\n    articleHtml: html,\n    articleHtmlBase64: htmlBase64,\n    slug\n  }\n}];"
      },
      "id": "construir-html",
      "name": "Construir HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/Origenlab/seguridad-privada/contents/blog/{{ $json.slug }}.html",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "token {{GITHUB_TOKEN}}" },
            { "name": "Accept", "value": "application/vnd.github.v3+json" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"Add article: {{ $json.slug }}\",\n  \"content\": \"{{ $json.articleHtmlBase64 }}\",\n  \"branch\": \"main\"\n}"
      },
      "id": "github-upload-article",
      "name": "GitHub: Subir Articulo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1720, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8253197429:AAFuUSGCueoJoKZ0CaoMqWSIRMAnCeCIrMw/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"772938445\",\n  \"text\": \"笨 *Nuevo Artﾃｭculo SEGURIDAD PRIVADA*\\n\\n沒 *Tﾃｭtulo:* {{ $('Validar Respuesta').first().json.content.titulo }}\\n沐 *URL:* https://seguridad-privada.com.mx/blog/{{ $('Validar Respuesta').first().json.slug }}.html\\n\\n_Blog ORIGINS - Sistema Automﾃ｡tico_\",\n  \"parse_mode\": \"Markdown\"\n}"
      },
      "id": "telegram",
      "name": "Telegram Notificacion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1940, 300]
    },
    {
      "parameters": {},
      "id": "fin",
      "name": "Fin - Articulo Publicado",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2160, 300]
    }
  ],
  "connections": {
    "Trigger Programado": { "main": [[{ "node": "Selector Inteligente", "type": "main", "index": 0 }]] },
    "Trigger Manual": { "main": [[{ "node": "Selector Inteligente", "type": "main", "index": 0 }]] },
    "Selector Inteligente": { "main": [[{ "node": "Constructor Prompt", "type": "main", "index": 0 }]] },
    "Constructor Prompt": { "main": [[{ "node": "Preparar Request", "type": "main", "index": 0 }]] },
    "Preparar Request": { "main": [[{ "node": "ChatGPT API", "type": "main", "index": 0 }]] },
    "ChatGPT API": { "main": [[{ "node": "Validar Respuesta", "type": "main", "index": 0 }]] },
    "Validar Respuesta": { "main": [[{ "node": "GitHub: Obtener Template", "type": "main", "index": 0 }]] },
    "GitHub: Obtener Template": { "main": [[{ "node": "Construir HTML", "type": "main", "index": 0 }]] },
    "Construir HTML": { "main": [[{ "node": "GitHub: Subir Articulo", "type": "main", "index": 0 }]] },
    "GitHub: Subir Articulo": { "main": [[{ "node": "Telegram Notificacion", "type": "main", "index": 0 }]] },
    "Telegram Notificacion": { "main": [[{ "node": "Fin - Articulo Publicado", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}
